
<div class="flex items-center mb-6">
    
    <h2 class="text-xl font-bold text-text-primary">Agent Panel</h2>
</div>
<ul class="space-y-2">
    <li>
    <a 
        routerLink="/agent/notifications"
        class="cursor-pointer flex items-center p-2 rounded-radius-md hover:bg-sidebar-hover transition-colors duration-200 text-text-secondary hover:text-text-primary">
         Notifications
    </a>
    </li>
    <li>
    <a 
        routerLink="/agent/manage-users"
        class="cursor-pointer flex items-center p-2 rounded-radius-md hover:bg-sidebar-hover transition-colors duration-200 text-text-secondary hover:text-text-primary">
        Manage Users
    </a>
    </li>
    <li>
    <a 
        routerLink="/agent/transactions"
        class="cursor-pointer flex items-center p-2 rounded-radius-md hover:bg-sidebar-hover transition-colors duration-200 text-text-secondary hover:text-text-primary">
        Transactions
    </a>
    </li>

    <li>
    <a 
        routerLink="/agent/transactions"
        class="cursor-pointer flex items-center p-2 rounded-radius-md hover:bg-sidebar-hover transition-colors duration-200 text-text-secondary hover:text-text-primary">
        Accounts
    </a>
    </li>


</ul>
<div class="absolute bottom-4 flex items-center">
    
    <a href="#" class="text-text-secondary hover:text-text-accent transition-colors duration-200">Sign Out</a>
</div>


